audio/
pyvenv.cfg
# Not include the ipynb files either
*.ipynb
beats_env/
__pycache__/

utils/__pycache__/*

# Emily local configurations

.devcontainer
.Emily
.vscode
configurations
deployments
environments

docker-compose.dev.yml
Dockerfile
emily-config.json
.dockerignore
.env
